@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2>Ocurrió un error en la aplicación.</h2>

<p>
    Lo sentimos, ha ocurrido un error inesperado. Por favor, inténtelo más tarde.
</p>

<div>
    <a asp-controller="Home" asp-action="Index">Volver a la página principal</a>
</div>